<%- include('partials/header') %>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header text-center">
                <h1>Edit Data</h1>
            </div>
            <div class="card-body">


                <form action="" method="post">

                    <div class="row mb-3">
                        <label for="id" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="id" placeholder="Tulis ID"
                                value="<%= item._id%>" disabled>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="string" class="col-sm-2 col-form-label">String</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="string" placeholder="Tulis String"
                                value="<%= item.string %>" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="integer" class="col-sm-2 col-form-label">Integer</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="integer" placeholder="Tulis Integer"
                                value="<%= item.integer %>" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="float" class="col-sm-2 col-form-label">Float</label>
                        <div class="col-sm-10">
                            <input type="number" name="float" class="form-control" placeholder="Tulis Float"
                                value="<%=item.float%>" required step="0.005">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="date" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-3">
                            <input type="date" name="date" class="form-control"
                                value="<%=moment(item.date).format('YYYY-MM-DD')%>" required>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="boolean" class="col-sm-2 col-form-label">Boolean</label>
                        <div class="col-sm-10">
                            <select id="boolean" name="boolean" class="form-select" required>
                                <option value="" disabled selected  >Choose boolean...</option>
                                <option value=True <%=item.boolean=="True" ? ' selected ' : '' %>>True</option>
                                <option value=False <%=item.boolean=="False" ? ' selected ' : '' %>>False</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="/" class="btn btn-warning">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>